<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JDY GYM | Transforma tu cuerpo</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='imagenes/titulo_icono.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/membresia2')}}">

</head>

<body>
    
    <header class="header">
        <div class="container">
            <div class="logo-container">
                <img src="{{url_for('static', filename='imagenes/titulo_icono.png')}}" alt="logo-tex" class="logo-img">
                <h1 class="logo-text"> JDY GYM </h1>
            </div>

            <nav class="navigation">
                    <a href="" class="nav-link active">Inicio</a>
                    <a href="{{url_for('registro')}}" class="nav-link ">Registro</a>
                    <a href="{{url_for('precios')}}" class="nav-link">Planes & precios</a>
                    <a href="{{url_for('admin')}}" class="nav-link ">Administrador</a>
            </nav>
        </div>
    </header>

    <main>
        <section id="seccion1">
                <img src="{{url_for('static', filename='imagenes/Banner2.jpg')}}" alt="Imagen 2" class="img">
                <img src="{{url_for('static', filename='imagenes/Banner3.jpg')}}" alt="Imagen 3" class="img2">
                <img src="{{url_for('static', filename='imagenes/Banner4Centro.png')}}" alt="Imagen 4"  class="img3">
                <img src="{{url_for('static', filename='imagenes/Banner5.png')}}" alt="Imagen 5" class="img4">
                <img src="{{url_for('static', filename='imagenes/Banner6.jpg')}}" alt="Imagen 6" class="img5">
    

            </section>
        

        <section class="seccion-whyus">
            <div>
                <article>
                <p class="textwhy">
                    Elegir nuestro gimnasio es apostar por tu bienestar en un ambiente motivador,
                    profesional y totalmente equipado. Contamos con entrenadores certificados, máquinas 
                    de última generación y una amplia variedad de clases para todos los niveles. Además, 
                    ofrecemos horarios flexibles, instalaciones impecables y un trato cercano que te hará
                    sentir parte de una comunidad desde el primer día.
                </p>
                </article>
                <img src="{{url_for('static', filename='imagenes/training.jpg')}}" alt="" class="img6">
            </div>
        </section>


        <section class="seccionnuestroservicions">
            <h2 class="Nuestrosservicios"> Nuestros servicios</h2>
        </section>

        <section class="seccion-cartas">
            <article class="art" id="art1">
                <h1>Cardio Rumba</h1>
                <img src="{{url_for('static', filename='imagenes/Rumba.png')}}">
                <p>"Cardio Rum es la forma más entretenida de ponerte en forma y lograr resultados reales. Quema calorías, mejora tu salud y disfruta cada clase como si fuera una fiesta. ¡Ven a probar tu primera clase gratis y siente la diferencia!"</p>
            </article>


            <article class="art" id="art2">
                <h1>Asesorias personalizadas</h1>
                <img src="{{url_for('static', filename='imagenes/Asesoria.jpg')}}">
                <p>"Las asesorías personalizadas en nuestro gimnasio son la clave para alcanzar tus metas más rápido y con resultados reales. No estás solo: un entrenador te guía paso a paso con un plan hecho a tu medida, corrige tu técnica, te motiva y te asegura progresos sin perder tiempo. Invertir en ti nunca fue tan efectivo."</p>
            </article>


            <article class="art" id="art3">
                <h1>Consulta Nutricional</h1>
                <img src="{{url_for('static', filename='imagenes/consultanutricional.jpg')}}">
                <p>"Una consulta nutricional en nuestro gimnasio te da el impulso que necesitas para transformar tu cuerpo desde adentro. Porque entrenar sin una alimentación adecuada es ir a ciegas. Con un plan hecho a tu medida, diseñado por expertos, verás resultados más rápidos, más seguros y sostenibles en el tiempo. ¡Tu progreso empieza con lo que comes!"</p>
            </article>

            <article class="art" id="art4">
                <h1>Yoga</h1>
                <img src="{{url_for('static', filename='imagenes/Yoga.jpg')}}">
                <p>"Hacer yoga en nuestro gimnasio no solo mejora tu flexibilidad y postura, también te ayuda a liberar el estrés, enfocarte y conectar mente y cuerpo. Es el complemento perfecto para cualquier rutina de entrenamiento, ideal para recuperar energía, prevenir lesiones y encontrar equilibrio en tu día a día. Tu cuerpo lo necesita, tu mente lo agradece."</p>
            </article>
        </section>


        <section class="Titulosedes"><h2 class="h2sedes"> Sedes</h2></section>

        <section class="seccionnsedes">
            <article>
            <h3>Sede Bogota</h3>
            <img src="{{url_for('static', filename='imagenes/sede1.png')}}">
            </article>
            <article>
            <h3>Sede Medellin</h3>
            <img src="{{url_for('static', filename='imagenes/sede2.jpg')}}">
            </article>
            <article><h3>Sede Cartagena</h3>
            <img src="{{url_for('static', filename='imagenes/sede3.jpg')}}">
            </article>
        </section>



        <section class="Titulomembresia"><h2 class="h2membresia"> Membresias</h2></section>
        <section class="seccionnmembresia">

        <article class="Mcobre">
            <h1>Membresia cobre</h1>
            <h2>Beneficios</h2>
            <h3>-Acceso básico, máquinas, cardio</h3>
            <h3>-Uso de las duchas</h3>
            <h3>-Asesor general de los ejercicios</h3>
            <h3>-Eleccion de horarios jornada mañana,tarde o noche</h3>
            <img src="{{ url_for('static', filename='imagenes/Cobre.png')}}">
        </article>

        <article class="Moro">
            <h1>Membresia oro</h1>
            <h2>Beneficios</h2>
            <h3>-Acceso básico, máquinas y cardio</h3>
            <h3>-Uso de las duchas</h3>
            <h3>-Mas tienmpo con el asesor general de los ejercicios</h3>
            <h3>-Acceso a el equipo los sabados,domingos y dias festivos</h3>
            <h3>-Bonos especiales en los productos de la tienda</h3>
            <img src="{{url_for('static', filename='imagenes/Dorada.png')}}">
        </article>

        <article class="Macero">
            <h1>Membresia Acero</h1>
            <h2>Beneficios</h2>
            <h3>-Acceso máquinas especializadas</h3>
            <h3>-Uso de las duchas</h3>
            <h3>-Acceso a los saunas y zona spa general</h3>
            <h3>-Asesor especializado ,diseño de rutinas personalizadas</h3>
            <h3>-Acceso a el equipo los sabados,domingos y dias festivos</h3>
            <h3>-Descuentos en los productos de la tienda</h3>
            <img src="{{url_for('static', filename='imagenes/Platino.png')}}">
        </article>

        <article class="Mtitanio">
            <h1>Membresia Titanio</h1>
            <h2>Beneficios</h2>
            <h3>-Acceso a todas las maquinas</h3>
            <h3>-Uso de las duchas</h3>
            <h3>-Acceso a los saunas y zona spa vip</h3>
            <h3>-Asesor para deportistas de alto redimiento ,diseño de rutinas personalizadas</h3>
            <h3>-Acceso a el equipo los sabados,domingos y dias festivos</h3>
            <h3>-Descuentos en los productos de la tienda</h3>
            <img src="{{url_for('static', filename='imagenes/Azul.png')}}">
        </article>

        </section>

    </main>





</body>
<footer class="footer" id="fo">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3>JDY GYM</h3>
                <p>Transformando vidas</p>
            </div>
            
            <div class="footer-section">
                <h4>Enlaces rápidos</h4>
                <ul>
                    <li><a href="#" class="footer-link">Horarios</a></li>
                    <li><a href="{{url_for('precios')}}" class="footer-link">Precios</a></li>
                    <li><a href="{{url_for('contacto')}}"  class="footer-link">Desarrolladores</a></li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h4>Contacto</h4>
                <div class="contact-info">
                    <p> +57 123 456 789</p>
                    <p> info@jdygym.com</p>
                </div>
                <div class="social-icons">
                    <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2023 JDY GYM - Todos los derechos reservados</p>
    </div>
</footer>

</html>